*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* CSS responsável pelo menu lateral*/

.trainer-sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f06868;
    overflow-x: hidden;
}

.trainer-sidenav a{
    padding: 10px 8px 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

.logout-btn{
    position: absolute;
    bottom: 0;
}

.profile-picture{
    width: 115px;
    height: 115px;
    border-radius: 50% 50%;
    margin: 0 auto;
    display: block;
}

.player-info{
    list-style: none;
    text-align: center;
    padding: 0px;
}

.user-name, .user-location, .user-lvl {
    padding: 3px;
    color: white;
    font-size: 14px;
}

.user-lvl{
    padding: 8px 0px 10px 0px;
    font-size: 12px;
}

#selected{
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(208,208,208,1);
    box-shadow: 0px 0px 1px 0px rgba(208,208,208,1);
}

.trainer-stats{
    background-color: transparent;
    margin-bottom: 30px;
}

.exp-container{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    position: relative;
}

.pkmxp-wrapper{
    background-color: #E1E1E1;
}

.exp-bar{

    color: white;
    line-height: 15px;
    font-size: 10px;
    
}

.xp-user{
   width: 70%;
   background-color: #64BFDE;
   -webkit-animation: xpgrow 1s infinite; /* Safari */
   animation: xpgrow 2s;
}

.xp-pokemon{
    width: 70%;
    background-color: #F7CF53;
    -webkit-animation: xpgrow 1s infinite; /* Safari */
    animation: xpgrow 2s;
}

.xp-value{
    background-color: transparent;
    border: none;
    padding: 0px 15px 0px 5px;
    color: #3f3f3f; 
    position: absolute; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

}

.current-xp{
    width: 10px;
}

.tittle-app{
    text-align: center;
    color: white;
}

/* CSS responsável pelo menu lateral */

/* CSS responsável pelo wrapper que engloba todo os conteudos sobre os pokemons */

#main-content{
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #FAFAFA;
}

/* CSS responsável pelo wrapper que engloba todo os conteudos sobre os pokemons */

/* CSS responsável pela barra de busca dos Pokemons na API */

.search-wrapper{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #C9C9CA;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.search-input{
    padding: 6px;
    font-size: 17px;
    border: none;
    height: 36px;
    display: none;
}

.search-visible{
    display: initial;
    width: 80%;
    border: 1px solid #c9c9c9;
}

.btn-search{
    float: right;
    padding: 8px 10px;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.form-search{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* CSS responsável pela barra de busca dos Pokemons na API */

/* CSS responsável pelas divs que contem os dados dos pokemons */

.pokemon-wrapper{
    width: 100%;
    margin: 0 auto;
}

.pokemon-info{
    width: 350px;
    height: 355px;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.pokemon-info:nth-child(1){
    width: 250px;
}

.pokemon-stats{

}

.info-container{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.pkmxp-bar{
    margin: 8px;
}

.pokemon-picture{
    margin: 0 auto;
    display: block;
}

.pokemon-name{
    color: #3C3C3C;
    font-weight: 700;
}

.pokemon-lvl{
    font-size: 12px;
    color: #6C6C6C;
}

.about-title{
    color: #646464;
}

.attribute-wrapper{
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0;
    font-size: 13px;
}

.pokemon-attributes{
    display: inherit;
    width: 80%;
    height: calc(100%/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.attribute-content{
    word-break: break-word;
    margin: 0px;
    display: inline-block;
    color: #707070;
    height: fit-content;
    font-size: 12px;
}

.height-pkm{
    width: 55px;
    float: left;
}

.category-pkm{
    width: 60px;
    float: right;
}

.wheight-pkm{
    width: 60px;
    float: left;
}

.abilities-pkm{
    width: 60px;
    float: right;
}

.nature-icon{
    height: 75px;
    width: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scoreboard-title{
    text-align: center;
    text-transform: capitalize;
    color: #3C3C3C;
    font-weight: 700;
}

.btn-actions{
    width: 110px;
    height: 32px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
    margin: 5px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.evolve-btn{
    background-color: #F06868;
    color: white;
}

.evolve-btn:hover, .battle-btn:hover{
    background-color: white;
    color: #F06868;
    border: 1px solid #F06868;
}

.battle-log-wrapper{
    justify-content: center;
    display: flex;
    margin: 10px 0px 25px 0px;
}

.wins-btn{
    background-color: #F7CF53;
    color: white;
}

.wins-btn:hover{
    color: #939393;
    background-color: white;
    border: 1px solid #F7CF53;
}

.losses-btn{
    background-color: transparent;
    border: 1px solid #F7CF53;
    color: #939393;
}

.losses-btn:hover{
    background-color: #939393;
    color: white;
    border: none;
}

.battle-btn{
    background-color: #F06868;
    color: white;
    margin: 0 auto;
    display: block;
}

.pokemon-text, .evolve-info{
    font-size: 13px;
    color: #939393;
}

.current-stats{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.stats-wrapper{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    align-self: baseline;
}

.stats-bar{
    width: 28px;
    background-color: #F7CF53;
}

.stats-name{
    font-size: 12px;
    color: #707070;
}

.stats-caption{
    position: absolute;
    font-size: 7.0em;
    text-transform: capitalize;
    bottom: -101px;
    color: #ededed;
    z-index: 0;
}

.ability-bar{
    -webkit-animation: abilitygrow 1s infinite; /* Safari */
    animation: abilitygrow 2s;
    height: 55px;
}
.health-bar{
    -webkit-animation: healthgrow 1s infinite; /* Safari */
    animation: healthgrow 2s;
    height: 35px;
}
.attack-bar{
    -webkit-animation: attackgrow 1s infinite; /* Safari */
    animation: attackgrow 2s;
    height: 55px;
}
.defense-bar{
    -webkit-animation: defensegrow 1s infinite; /* Safari */
    animation: defensegrow 2s;
    height: 35px;
}
.speed-bar{
    -webkit-animation: speedgrow 1s infinite; /* Safari */
    animation: speedgrow 2s;
    height: 80px;
}
/* CSS responsável pelas divs que contem os dados dos pokemons */

/* CSS responsável pelas divs que contem os dados das batalhas*/

.battle-info{
    width: 350px;
    height: 155px;
    display: inline-block;
    margin: 10px;
}

.battle-info:nth-child(1){
    width: 250px;
}

/* CSS responsável pelas divs que contem os dados das batalhas*/

/* Animações */

@keyframes xpgrow{
    from{width: 0%;}
    to{width: 70%;}
}
/* Melhorias posteriores 

@-webkit-keyframes abilitygrow{
    from{height: 0%;}
    to{height: 75%;}
}

@keyframes attackgrow{
    from{height: 0%;}
    to{height: 55%;}
}

@keyframes healthgrow{
    from{height: 0%;}
    to{height: 40%;}
}

@keyframes speedgrow{
    from{height: 0%;}
    to{height: 85%;}
}

@keyframes healthgrow{
    from{height: 0%;}
    to{height: 85%;}
}

*/