*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* CSS responsável pelo menu lateral*/

.trainer-sidenav{
    height: 100%;
    width: 265px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f06868;
    overflow-x: hidden;
}

.trainer-sidenav a{
    padding: 10px 8px 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

.logout-btn{
    position: absolute;
    bottom: 0;
}

.profile-picture{
    width: 115px;
    height: 115px;
    border-radius: 50% 50%;
    margin: 0 auto;
    display: block;
}

.player-info{
    list-style: none;
    text-align: center;
    padding: 0px;
}

.player-info li{
    padding: 3px;
    color: white;
    font-size: 14px;
}

.player-info li:nth-child(2){
    padding-bottom: 13px;
    font-size: 12px;
}

.player-info li:last-child{
    padding-top: 20px;
}

#selected{
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(208,208,208,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(208,208,208,1);
    box-shadow: 0px 0px 1px 0px rgba(208,208,208,1);
}

.trainer-stats{
    background-color: transparent;
    margin-bottom: 30px;
}

.exp-container{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.exp-user{
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 10px;
}

.xp{
   width: 70%;
   background-color: #64BFDE;
}

.tittle-app{
    text-align: center;
    color: white;
}

/* CSS responsável pelo menu lateral */